<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="EvercamClientName" value="Snapmail"/>
      <add key="EvercamClientID" value="a066d950"/>
      <add key="EvercamClientSecret" value="de9663e600ce8ab499b0fbb9d428137b"/>
      <add key="EvercamClientUri" value="snapmails.azurewebsites.net"/>
      <add key="EvercamTestToken" value="562f37d3f05935fce74b21e5c457cc5e"/>

      <add key="ServerUrl" value="http://snapmails.cloudapp.net/" />
      <add key="TempImagePath" value="c:\\snapmail\\appservice\\images\\" />
      <add key="CloudStorageAccount" value="snapmails" />
      <add key="StorageAccountKey" value="K34cW5qYo2LBovgfMQMTQMQvdDv84LWWJucWpmwHoN5lL81/r2Ct8ZFx1UqmhMq9GlMN84uYXYIH6xTndB8Eqw==" />
      <add key="PartitionKey" value="SNAPMAILS" />
      <add key="SnapmailsTable" value="SNAPMAILS" />
      <add key="EmailsTable" value="EMAILS" />
      <add key="CheckInterval" value="60000"/>

      <add key="EmailSource" value="Evercam SnapMail" />
      <add key="SmtpEmail" value="no-reply@evercam.io" />
      <add key="SmtpUser" value="AKIAJXKL6TZ4RRW54T2Q" />
      <add key="SmtpPassword" value="ArISFD+tL1BdLzUg0ZdU3NbkGUQ1H9appMeuCcAQk7iD" />
      <add key="SmtpServer" value="email-smtp.us-east-1.amazonaws.com" />
      <add key="SmtpServerPort" value="587" />
      <add key="TestEmail" value="shakeel.anjum@evercam.io" />
      <add key="EmailSubject" value="Your Scheduled SnapMail @ {notify_time}" />
      <add key="EmailMessage" value="Hello,{br}{br}Here's the snapshot(s) from your cameras.{br}{snapshots}{br}Thanks,{br}{br}Evercam.io" />
    </appSettings>

  <system.net> 
    <settings> 
     <httpWebRequest useUnsafeHeaderParsing="true" /> 
    </settings> 
  </system.net></configuration>